@import "tailwindcss";

html {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0e1419;
}

@theme {
  --color-primary: #0e1419;
  --color-secondary: #79dfe8;
  --color-accent: #9cacc2;
  --color-white: #fcfdfe;
  --color-complimentary: #7ee2cc;
  --color-shadow: #95b1cb;
}
 
